# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [9]:
import pandas as pd
import numpy as np

# Seu código aqui
index = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
aumento_temp = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

aquecimento_global_ano = pd.Series(aumento_temp, index = index)
aquecimento_global_ano

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [10]:
# seu código aqui
aumento_tempComIndex = pd.Series(['-0.08', '-0.27', '0.12', '-0.03', '0.26', '0.40', '1.02'],
                                 index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
aumento_tempComIndex

1900    -0.08
1920    -0.27
1940     0.12
1960    -0.03
1980     0.26
2000     0.40
2020     1.02
dtype: object

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturas = pd.Series(dic_temperaturas)
temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [12]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df_arr = pd.DataFrame(arr)
df_arr

             0           1           2
0   102.904219   88.155174  108.336892
1    92.565415   88.730288  109.925921
2   114.702143  103.113415   90.719898
3   102.759213   95.581501   86.987983
4   115.295032  108.347348  100.253699
5    90.165727  103.035594  104.451623
6    89.652282  101.656440   84.310872
7   100.936280   90.929684  114.176678
8   107.563935  102.258607  122.935614
9    85.094907   99.012980  108.889625
10  121.749329  105.639610   99.524336
11   98.544079   99.218123  101.265340
12   97.999598   87.027700   95.295473
13  109.508353   97.102981   74.576356
14   99.694097  102.403833  102.252263
15   98.818266  101.896158   94.412970
16   78.948241  127.194444  107.137516
17  103.951186  119.146211   86.489426
18   95.212797  101.543131   99.358928
19  101.150106  116.478988  111.664342

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [13]:
#seu código aqui
df_arr = pd.DataFrame(arr, columns=['x1','x2','x3'], index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
df_arr

            x1          x2          x3
1   102.904219   88.155174  108.336892
2    92.565415   88.730288  109.925921
3   114.702143  103.113415   90.719898
4   102.759213   95.581501   86.987983
5   115.295032  108.347348  100.253699
6    90.165727  103.035594  104.451623
7    89.652282  101.656440   84.310872
8   100.936280   90.929684  114.176678
9   107.563935  102.258607  122.935614
10   85.094907   99.012980  108.889625
11  121.749329  105.639610   99.524336
12   98.544079   99.218123  101.265340
13   97.999598   87.027700   95.295473
14  109.508353   97.102981   74.576356
15   99.694097  102.403833  102.252263
16   98.818266  101.896158   94.412970
17   78.948241  127.194444  107.137516
18  103.951186  119.146211   86.489426
19   95.212797  101.543131   99.358928
20  101.150106  116.478988  111.664342

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [18]:
# seu código aqui
df_arr.columns
df_arr['media']=(df_arr['x1']+df_arr['x2']+df_arr['x3'])/3
df_arr

            x1          x2          x3       media
1   102.904219   88.155174  108.336892   99.798762
2    92.565415   88.730288  109.925921   97.073875
3   114.702143  103.113415   90.719898  102.845152
4   102.759213   95.581501   86.987983   95.109566
5   115.295032  108.347348  100.253699  107.965360
6    90.165727  103.035594  104.451623   99.217648
7    89.652282  101.656440   84.310872   91.873198
8   100.936280   90.929684  114.176678  102.014214
9   107.563935  102.258607  122.935614  110.919385
10   85.094907   99.012980  108.889625   97.665837
11  121.749329  105.639610   99.524336  108.971092
12   98.544079   99.218123  101.265340   99.675848
13   97.999598   87.027700   95.295473   93.440924
14  109.508353   97.102981   74.576356   93.729230
15   99.694097  102.403833  102.252263  101.450064
16   98.818266  101.896158   94.412970   98.375798
17   78.948241  127.194444  107.137516  104.426734
18  103.951186  119.146211   86.489426  103.195608
19   95.212797  101.543131   99.358928   98.704952
20  101.150106  116.478988  111.664342  109.764479

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [19]:
# seu código aqui
df_arr['log_med'] = np.log(df_arr['media'])
df_arr

            x1          x2          x3       media   log_med
1   102.904219   88.155174  108.336892   99.798762  4.603156
2    92.565415   88.730288  109.925921   97.073875  4.575472
3   114.702143  103.113415   90.719898  102.845152  4.633224
4   102.759213   95.581501   86.987983   95.109566  4.555030
5   115.295032  108.347348  100.253699  107.965360  4.681810
6    90.165727  103.035594  104.451623   99.217648  4.597316
7    89.652282  101.656440   84.310872   91.873198  4.520409
8   100.936280   90.929684  114.176678  102.014214  4.625112
9   107.563935  102.258607  122.935614  110.919385  4.708804
10   85.094907   99.012980  108.889625   97.665837  4.581552
11  121.749329  105.639610   99.524336  108.971092  4.691083
12   98.544079   99.218123  101.265340   99.675848  4.601923
13   97.999598   87.027700   95.295473   93.440924  4.537329
14  109.508353   97.102981   74.576356   93.729230  4.540410
15   99.694097  102.403833  102.252263  101.450064  4.619567
16   98.818266  101.896158   94.412970   98.375798  4.588795
17   78.948241  127.194444  107.137516  104.426734  4.648486
18  103.951186  119.146211   86.489426  103.195608  4.636626
19   95.212797  101.543131   99.358928   98.704952  4.592135
20  101.150106  116.478988  111.664342  109.764479  4.698337